
data/Michigan/tif/USGS_13_n42w083.tif
data/Michigan/tif/USGS_13_n42w084.tif
data/Michigan/tif/USGS_13_n42w085.tif
data/Michigan/tif/USGS_13_n42w086.tif
data/Michigan/tif/USGS_13_n42w087.tif
data/Michigan/tif/USGS_13_n43w083.tif
data/Michigan/tif/USGS_13_n43w084.tif
data/Michigan/tif/USGS_13_n43w085.tif
data/Michigan/tif/USGS_13_n43w086.tif
data/Michigan/tif/USGS_13_n43w087.tif
data/Michigan/tif/USGS_13_n44w083.tif
data/Michigan/tif/USGS_13_n44w084.tif
data/Michigan/tif/USGS_13_n44w085.tif
data/Michigan/tif/USGS_13_n44w086.tif
data/Michigan/tif/USGS_13_n44w087.tif
data/Michigan/tif/USGS_13_n45w083.tif
data/Michigan/tif/USGS_13_n45w084.tif
data/Michigan/tif/USGS_13_n45w085.tif
data/Michigan/tif/USGS_13_n45w086.tif
data/Michigan/tif/USGS_13_n45w087.tif
data/Michigan/tif/USGS_13_n45w088.tif
data/Michigan/tif/USGS_13_n46w084.tif
data/Michigan/tif/USGS_13_n49w090.tif
data/Michigan/tif/USGS_13_n49w089.tif
data/Michigan/tif/USGS_13_n48w090.tif
data/Michigan/tif/USGS_13_n48w089.tif
data/Michigan/tif/USGS_13_n48w088.tif
data/Michigan/tif/USGS_13_n47w091.tif
data/Michigan/tif/USGS_13_n47w090.tif
data/Michigan/tif/USGS_13_n47w089.tif
data/Michigan/tif/USGS_13_n47w088.tif
data/Michigan/tif/USGS_13_n47w087.tif
data/Michigan/tif/USGS_13_n47w086.tif
data/Michigan/tif/USGS_13_n47w085.tif
data/Michigan/tif/USGS_13_n47w084.tif
data/Michigan/tif/USGS_13_n46w089.tif
data/Michigan/tif/USGS_13_n46w088.tif
data/Michigan/tif/USGS_13_n46w087.tif
data/Michigan/tif/USGS_13_n46w086.tif
data/Michigan/tif/USGS_13_n46w085.tif
.Rhistory
